<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Home</a></li>
  <li class="{% if page.url contains '/blog/' %} active {% endif %}"><a href="{{ "/blog/" | absolute_url }}">Blog</a></li>
  <li class="{% if page.url contains '/developement/' %} active {% endif %}"><a href="{{ "/developement/" | absolute_url }}">/Dev</a></li>
  <li class="{% if page.url contains '/donate/' %} active {% endif %}"><a href="{{ "/donate/" | absolute_url }}">Donate</a></li>
  <li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ "/about/" | absolute_url }}">About</a></li>
  <li class="{% if page.url contains '/support/' %} active {% endif %}"><a href="{{ "/support/" | absolute_url }}">Support</a></li>
  <li class="{% if page.url contains '/elements/' %} active {% endif %}"><a href="{{ "/elements/" | absolute_url }}">Elements Reference</a></li>
</ul>
